{% extends 'bootstrap_material_base.html.twig' %}


{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

    <section class="h-100">
    <div class="container d-flex flex-column h-100 py-4">
        <div class="row justify-content-center h-100">
            <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                <h3 class="text-center">Créer un compte</h3>

                {# <form action="{{ path('app_register') }}" role="form" id="contact-form" method="post" autocomplete="off"> #}
                {# {{ form_start(form, { 'attr': { 'class': 'needs-validation', 'novalidate': 'novalidate' } }) }} #}
                {# {{ form_start(form, { 'attr': { 'id': 'contact-form', 'role': 'form' , 'method':'post', 'autocomplete':'off'} }) }} #}
                    {{ form_start(registrationForm) }}
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-4">
                                <div class="input-group input-group-dynamic">
                                    <label class="form-label">prénom</label>
                                    {# <input type="email" class="form-control"> #}
                                    <input type="text" value="{{ registrationForm.firstName }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
                                </div>
                            </div>
                            <div class="input-group mb-4 input-group-static">
                                <label>Your message</label>
                                {# <textarea name="message" class="form-control" id="message" rows="4"></textarea> #}
                                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                        </div>
                        <div class="row">
                        {# <div class="col-md-12">
                            <div class="form-check form-switch mb-4 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                            <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                            </div>
                        </div> #}
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                        </div>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
                {# </form> #}
                {# {{ form_end(form) }} #}
            </div>
        </div>
    </div>
</section>
{% endblock %}
